# layouts
layout autosave on

layout new singleshell
select 1

layout new horizontalshells
select 1
split
resize -v +9
focus down
select 2

layout new verticalshells
select 1
split -v
resize -h +4
focus right
select 2
focus left

layout new shellstatus
select 1
split
resize -v -7
focus down
select 4

layout select singleshell
layout attach singleshell

