# layouts
layout autosave on

layout new singleshell
select 1

layout new shellshell
select 1
split
resize -v +9
focus down
select 2

layout new threeshells
select 1
split
resize -v +8
focus down
select 2
split -v
resize -h +10
focus right
select 3
focus up

layout new shellstatus
select 1
split
resize -v -7
focus down
select 4

layout select singleshell
layout attach singleshell

