# layouts
layout autosave on

layout new single
select 1

layout new horizontal
select 1
split
resize -v +9
focus down
select 2

layout new vertical
select 1
split -v
resize -h +5
focus right
select 2
focus left

layout select single
layout attach single

